* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #F5F5F5; }
  body .opacity {
    background-color: rgba(0, 0, 0, 0.495);
    transition: all .5s ease;
    z-index: 100; }
  body .container {
    height: 100vh;
    display: flex;
    flex-direction: column; }
    body .container header {
      position: sticky;
      top: 0;
      z-index: 1;
      margin-bottom: 15px; }
      body .container header nav {
        background-color: rgba(255, 255, 255, 0.966);
        padding: 10px;
        background-size: 100%;
        box-shadow: 0 9px 10px rgba(253, 54, 183, 0.427);
        display: grid;
        grid-template-columns: 0.5fr 7fr 0.5fr;
        grid-template-areas: "menu logo carrito"; }
        body .container header nav .boton-menu {
          grid-area: menu;
          display: flex;
          align-items: center;
          cursor: pointer; }
        body .container header nav .logo {
          grid-area: logo;
          padding-top: 5px; }
          body .container header nav .logo a {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center; }
            body .container header nav .logo a img {
              width: 180px; }
        body .container header nav .carrito {
          grid-area: carrito;
          height: 80px;
          width: 80px;
          background-image: url("../img/carrito.png");
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer; }
          body .container header nav .carrito a {
            font-family: 'Secular One', sans-serif;
            color: #ff5ac5;
            padding-left: 8px;
            padding-bottom: 10px;
            font-size: 40px;
            font-weight: 300;
            text-shadow: 1.5px 1.5px black;
            -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.823); }
          body .container header nav .carrito:hover {
            transform: scale(1.1); }
        body .container header nav .icono-menu {
          justify-self: center;
          align-self: center;
          position: relative;
          z-index: 10; }
        body .container header nav .icono-menu img {
          vertical-align: top;
          width: 30px;
          cursor: pointer; }
        body .container header nav .active {
          transform: translate(-400px); }
        body .container header nav .cont-menu {
          background-color: #000000f7;
          box-shadow: 2px 0px 5px 2px #424242;
          width: 300px;
          height: 100vh;
          position: absolute;
          top: 0;
          left: 0;
          transition: all .5s ease; }
          body .container header nav .cont-menu ul {
            padding: 100px 0px 20px 0px;
            height: 100%;
            list-style: none; }
            body .container header nav .cont-menu ul a {
              color: white;
              display: block;
              font-family: 'Didact Gothic', sans-serif;
              font-size: 20px;
              text-decoration: none;
              padding: 10px 50px;
              cursor: pointer; }
              body .container header nav .cont-menu ul a:hover {
                background-color: #ff4ce1;
                color: #2a2a2a;
                font-weight: 900;
                box-shadow: 0 0 5px #ff54d4;
                border-radius: 5px; }
    body .container .section-index {
      background-color: black;
      font-size: 13px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.645);
      border: 1px solid rgba(255, 255, 255, 0.285);
      height: 5vh;
      margin-bottom: 15px;
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center; }
      body .container .section-index p {
        color: white;
        text-align: center;
        font-family: 'Didact Gothic', sans-serif; }
    body .container .section-total {
      background-color: transparent;
      width: 50%;
      margin: 15px;
      align-self: center;
      display: flex;
      justify-content: space-between; }
      body .container .section-total .pagar {
        padding: 10px;
        width: 300px;
        text-transform: uppercase;
        background-color: #fbed6cae;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Didact Gothic', sans-serif;
        font-weight: 600;
        text-shadow: 1px 1px white;
        border: 2px solid rgba(0, 0, 0, 0.082);
        cursor: pointer; }
        body .container .section-total .pagar:hover {
          border: 2px solid rgba(0, 0, 0, 0.361);
          background-color: #fbed6c; }
      body .container .section-total .total {
        display: flex;
        justify-self: flex-start; }
        body .container .section-total .total .p-total {
          line-height: 50px;
          color: black;
          font-weight: 1000;
          font-size: 20px;
          margin-right: 10px;
          padding-top: 1px;
          font-family: 'Didact Gothic', sans-serif; }
        body .container .section-total .total .p-numero {
          line-height: 50px;
          color: black;
          font-size: 28px;
          margin-right: 5px;
          font-family: 'Didact Gothic', sans-serif; }
    body .container .section-img {
      height: auto;
      display: flex;
      justify-content: center;
      background-color: #F5F5F5; }
      body .container .section-img img {
        width: 100%; }
    body .container main {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      box-shadow: 0 0 20px #f5f5f5;
      background-size: 100%;
      background-color: #F5F5F5;
      padding-top: 30px; }
      body .container main .producto {
        height: auto;
        width: 80%;
        margin: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.291);
        border-radius: 5px;
        filter: saturate(130%); }
        body .container main .producto .foto-zapatilla {
          width: 100%;
          border-bottom: 2px solid rgba(0, 0, 0, 0.084);
          display: flex;
          justify-content: center; }
          body .container main .producto .foto-zapatilla img {
            height: 85%;
            width: 85%; }
          body .container main .producto .foto-zapatilla:hover {
            filter: contrast(110%);
            filter: saturate(170%); }
        body .container main .producto .info-zapatilla {
          height: 15vh;
          display: grid;
          grid-template-columns: 2fr 1fr;
          grid-template-areas: "nombre precio" "colores precio";
          align-items: center; }
          body .container main .producto .info-zapatilla .nombre {
            grid-area: nombre;
            font-size: 21px;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.068);
            margin-left: 10px;
            font-family: 'Secular One', sans-serif; }
          body .container main .producto .info-zapatilla .color {
            grid-area: colores;
            align-self: flex-start;
            color: #000000ae;
            margin-left: 10px;
            font-size: 19px;
            font-family: 'Didact Gothic', sans-serif; }
          body .container main .producto .info-zapatilla .precio {
            grid-area: precio;
            margin: 5px;
            color: white;
            background-color: #000000b5;
            border-bottom: 2px solid rgba(0, 0, 0, 0.596);
            border-left: 2px solid rgba(0, 0, 0, 0.596);
            border-top: 2px solid rgba(0, 0, 0, 0.596);
            -webkit-text-stroke: 0.5px black;
            border-radius: 5px;
            text-shadow: 1px 1px black;
            font-size: 25px;
            font-weight: 100;
            text-align: center;
            align-self: flex-start;
            font-family: 'Secular One', sans-serif;
            padding-top: 6px; }
        body .container main .producto .boton-carrito {
          padding: 10px;
          background-color: #fbed6cae;
          font-size: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Didact Gothic', sans-serif;
          font-weight: 600;
          text-shadow: 1px 1px white;
          border-top: 2px solid rgba(0, 0, 0, 0.082);
          border-bottom: 2px solid rgba(255, 255, 255, 0.076);
          cursor: pointer; }
          body .container main .producto .boton-carrito img {
            height: 20px;
            width: 20px;
            margin-right: 5px; }
          body .container main .producto .boton-carrito:hover {
            background-color: #fbed6c; }
      body .container main .producto-en-carrito {
        display: grid;
        height: auto;
        grid-template-areas: "imagen informacion cantidad boton";
        align-items: center;
        width: 90%;
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.347);
        border: 1px solid rgba(255, 90, 197, 0.264);
        border-radius: 8px; }
        body .container main .producto-en-carrito:hover {
          filter: saturate(150%);
          background: linear-gradient(0deg, #fbed6cae 0%, rgba(236, 10, 10, 0.301) 31%); }
        body .container main .producto-en-carrito .imagen {
          grid-area: imagen;
          height: 150px;
          width: 150px; }
          body .container main .producto-en-carrito .imagen img {
            margin: 1px;
            padding: 1px;
            width: 99%;
            height: 99%; }
        body .container main .producto-en-carrito .informacion {
          grid-area: informacion;
          height: auto;
          width: 95%;
          display: grid;
          grid-template-columns: 10fr 1.1fr;
          grid-template-areas: "nombre precio" "colores precio";
          align-items: center;
          justify-self: center; }
          body .container main .producto-en-carrito .informacion .nombre {
            grid-area: nombre;
            margin: 5px;
            font-family: 'Secular One', sans-serif; }
          body .container main .producto-en-carrito .informacion .color {
            grid-area: colores;
            margin-left: 5px;
            margin-bottom: 5px;
            font-family: 'Didact Gothic', sans-serif; }
          body .container main .producto-en-carrito .informacion .precio {
            grid-area: precio;
            font-size: 20px;
            text-align: center;
            font-family: 'Secular One', sans-serif; }
        body .container main .producto-en-carrito .boton {
          grid-area: boton;
          justify-self: end;
          margin-right: 20px;
          height: 30px;
          width: 30px;
          cursor: pointer; }
          body .container main .producto-en-carrito .boton img {
            height: 100%;
            width: 100%; }
            body .container main .producto-en-carrito .boton img:hover {
              transform: scale(1.1); }
        body .container main .producto-en-carrito:hover {
          box-shadow: 0 0 5px rgba(176, 71, 233, 0.622); }
    body .container footer {
      height: 20vh;
      background: white;
      background: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.144) 50%);
      display: flex;
      justify-content: center;
      align-items: center; }
      body .container footer .nombre {
        grid-area: nombre;
        font-size: 25px;
        font-family: 'Secular One', sans-serif;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.671); }
        body .container footer .nombre:hover {
          color: #fff757;
          text-shadow: 0 0 5px rgba(249, 94, 190, 0.998);
          transform: scale(1.03);
          transition: 0.1s; }
      body .container footer .coder {
        grid-area: colores;
        font-size: 20px;
        margin-left: 5px;
        margin-bottom: 3px;
        font-family: 'Didact Gothic', sans-serif;
        border-bottom: 1px solid black; }
  body .popup-alert {
    border-radius: 5px; }
  body .title-alert {
    font-family: 'Didact Gothic', sans-serif; }

@media screen and (min-width: 600px) {
  body .container .section-index {
    font-size: 20px; }
  body .container .section-img img {
    width: 70%; }
  body .container main {
    padding-left: 10%;
    padding-right: 10%; }
    body .container main .producto {
      width: 200px;
      margin: 14px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.291);
      border: 1px solid rgba(0, 0, 0, 0.233); }
      body .container main .producto .foto-zapatilla {
        height: 200px;
        width: 200px; }
        body .container main .producto .foto-zapatilla img {
          height: 100%;
          width: 99%; }
      body .container main .producto .info-zapatilla {
        height: 10vh;
        background: transparent; }
        body .container main .producto .info-zapatilla .nombre {
          font-size: 15px;
          text-shadow: 1px 1px white;
          margin-left: 5px; }
        body .container main .producto .info-zapatilla .color {
          text-shadow: 1px 1px white;
          color: #000000ae;
          margin-left: 5px;
          font-size: 14px;
          font-family: 'Didact Gothic', sans-serif; }
        body .container main .producto .info-zapatilla .precio {
          -webkit-text-stroke: 0.2px black;
          font-size: 18px;
          font-weight: 100;
          margin: 1px;
          border-radius: 15px; }
      body .container main .producto .boton-carrito {
        padding: 5px;
        font-size: 14px;
        border-bottom: none;
        border-top: 2px solid rgba(0, 0, 0, 0.083); }
        body .container main .producto .boton-carrito img {
          height: 16px;
          width: 16px; }
      body .container main .producto:hover {
        background: white;
        background: linear-gradient(0deg, #fbed6cae 0%, rgba(236, 10, 10, 0.301) 31%);
        border: 1px solid rgba(189, 35, 179, 0.373);
        box-shadow: 0 0 10px rgba(253, 54, 184, 0.577);
        transform: scale(1.05);
        transition: 0.3s; }
    body .container main .producto-en-carrito {
      width: 60%; } }
