* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #F5F5F5;

    .opacity {
        background-color: rgba(0, 0, 0, 0.495);
        transition: all .5s ease;
        z-index: 100;
    }

    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;


        header {
            position: sticky;
            top: 0;
            z-index: 1;
            margin-bottom: 15px;

            nav {
                background-color: rgba(255, 255, 255, 0.966);
                padding: 10px;
                //background-image: url("../img/fondo.jpg");
                background-size: 100%;
                //box-shadow: 0 0 10px rgba(0, 0, 0, 0.245);
                //border-top: 2px solid black;
                //border-bottom: 2px solid black;
                box-shadow: 0 9px 10px rgba(253, 54, 183, 0.427);

                display: grid;
                grid-template-columns: 0.5fr 7fr 0.5fr;
                grid-template-areas: "menu logo carrito";

                .boton-menu {
                    grid-area: menu;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }

                .logo {
                    grid-area: logo;
                    padding-top: 5px;


                    a {
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 180px;

                        }
                    }
                }

                .carrito {
                    grid-area: carrito;
                    height: 80px;
                    width: 80px;
                    background-image: url("../img/carrito.png");
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    a {
                        //font-family: Arial, Helvetica, sans-serif;
                        font-family: 'Secular One', sans-serif;
                        color: rgb(255, 90, 197);
                        padding-left: 8px;
                        padding-bottom: 10px;
                        font-size: 40px;
                        font-weight: 300;
                        text-shadow: 1.5px 1.5px rgb(0, 0, 0);
                        -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.823);

                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                .icono-menu {
                    justify-self: center;
                    align-self: center;
                    position: relative;
                    z-index: 10;
                }

                .icono-menu img {
                    vertical-align: top;
                    width: 30px;
                    cursor: pointer;
                }

                .active {
                    transform: translate(-400px);
                }

                .cont-menu {
                    background-color: #000000f7;
                    box-shadow: 2px 0px 5px 2px rgb(66, 66, 66);
                    width: 300px;
                    height: 100vh;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: all .5s ease;

                    ul {
                        padding: 100px 0px 20px 0px;
                        height: 100%;
                        list-style: none;

                        a {
                            color: white;
                            display: block;
                            font-family: 'Didact Gothic', sans-serif;
                            font-size: 20px;
                            text-decoration: none;
                            padding: 10px 50px;
                            cursor: pointer;

                            &:hover {
                                background-color: rgb(255, 76, 225);
                                color: rgb(42, 42, 42);
                                font-weight: 900;
                                box-shadow: 0 0 5px rgb(255, 84, 212);
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
        }

        .section-index {
            background-color: black;
            font-size: 13px; /////
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.645);
            border: 1px solid rgba(255, 255, 255, 0.285);
            height: 5vh;
            margin-bottom: 15px;
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                color: white;
                text-align: center;
                font-family: 'Didact Gothic', sans-serif;
            }
        }

        .section-total {
            background-color: transparent;
            width: 50%;
            margin-top: 5px;
            align-self: center;
            display: flex;
            justify-content: flex-end;

            .total {
                display: flex;
                justify-self: flex-start;

                .p-total {
                    line-height: 50px;
                    color: black;
                    font-weight: 1000;
                    font-size: 20px;
                    margin-right: 10px;
                    padding-top: 1px;
                    font-family: 'Didact Gothic', sans-serif;
                }

                .p-numero {
                    line-height: 50px;
                    color: black;
                    font-size: 28px;
                    margin-right: 5px;
                    font-family: 'Didact Gothic', sans-serif;
                }
            }

        }

        .section-img {
            height: auto;
            display: flex;
            justify-content: center;
            background-color: #F5F5F5;
            // @-webkit-keyframes tiembla{
            //     40%  { -webkit-transform:rotateZ( 1deg); }
            //     50% { -webkit-transform:rotateZ( 0deg, scale(.2)); }
            //     60% { -webkit-transform:rotateZ( -1deg); }
            // }
            // -webkit-animation: tiembla .5s infinite;
            
            

            img {
                width: 100%; ////
            }

    
        }

        main {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            box-shadow: 0 0 20px #f5f5f5;
            background-size: 100%;
            background-color: #F5F5F5;
            padding-top: 30px;


            .producto {
                height: auto;
                width: 80%;
                margin: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.291);
                border-radius: 5px;
                filter: saturate(130%);

                .foto-zapatilla {

                    width: 100%;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.084);
                    display: flex;
                    justify-content: center;

                    img {
                        height: 85%;
                        width: 85%;
                    }

                    &:hover {
                        filter: contrast(110%);
                        filter: saturate(170%);
                    }
                }

                .info-zapatilla {

                    height: 15vh;
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    grid-template-areas: "nombre precio"
                        "colores precio";
                    align-items: center;
                    

                    .nombre {
                        grid-area: nombre;
                        font-size: 21px; ////////
                        text-shadow: 2px 2px rgba(0, 0, 0, 0.068);
                        margin-left: 10px;
                        font-family: 'Secular One', sans-serif;
                    }

                    .color {
                        grid-area: colores;
                        align-self: flex-start;
                        color: #000000ae;
                        margin-left: 10px;
                        font-size: 19px; //////////
                        font-family: 'Didact Gothic', sans-serif;
                    }

                    .precio {
                        grid-area: precio;
                        margin: 5px;
                        color: white;
                        background-color: #000000b5;
                        border-bottom: 2px solid rgba(0, 0, 0, 0.596);
                        border-left: 2px solid rgba(0, 0, 0, 0.596);
                        border-top: 2px solid rgba(0, 0, 0, 0.596);
                        -webkit-text-stroke: 0.5px black;
                        border-radius: 5px;
                        text-shadow: 1px 1px rgb(0, 0, 0);
                        font-size: 25px; ////////////
                        font-weight: 100;
                        text-align: center; //////////
                        align-self: flex-start;
                        font-family: 'Secular One', sans-serif;
                        padding-top: 6px;
                    }
                }

                .boton-carrito {
                    padding: 10px;
                    background-color: #fbed6cae ;
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Didact Gothic', sans-serif;
                    font-weight: 600;
                    text-shadow: 1px 1px rgb(255, 255, 255);
                    border-top: 2px solid rgba(0, 0, 0, 0.082);
                    border-bottom: 2px solid rgba(255, 255, 255, 0.076);
                    cursor: pointer;

                    img {
                        height: 20px;
                        width: 20px;
                        margin-right: 5px;
                    }

                    &:hover {
                        //background-color: #EEEEEE;
                        background-color: #fbed6c;

                    }
                }


            }

            .producto-en-carrito {
                display: grid;
                height: auto;
                grid-template-areas: "imagen informacion cantidad boton";
                align-items: center;
                width: 90%;
                box-shadow: 0 0 1px rgba(255, 255, 255, 0.347);
                border: 1px solid rgba(255, 90, 197, 0.264);
                border-radius: 8px;

                &:hover {
                    filter: saturate(150%);
                    //background-color: rgba(0, 0, 0, 0.055);
                    background: linear-gradient(0deg, #fbed6cae 0%, rgba(236, 10, 10, 0.301) 31%);
                    //border: 1px solid rgba(189, 35, 179, 0.196);
                }

                .imagen {
                    grid-area: imagen;
                    height: 150px;
                    width: 150px;

                    img {
                        margin: 1px;
                        padding: 1px;
                        width: 99%;
                        height: 99%;
                    }

                }

                .informacion {
                    grid-area: informacion;
                    height: auto;
                    width: 95%;
                    display: grid;
                    grid-template-columns: 10fr 1.1fr;
                    grid-template-areas: "nombre precio"
                        "colores precio";
                    align-items: center;
                    justify-self: center;


                    .nombre {
                        grid-area: nombre;
                        margin: 5px;
                        font-family: 'Secular One', sans-serif;

                    }

                    .color {
                        grid-area: colores;
                        margin-left: 5px;
                        margin-bottom: 5px;
                        font-family: 'Didact Gothic', sans-serif;
                    }

                    .precio {
                        grid-area: precio;
                        font-size: 20px;
                        text-align: center;
                        font-family: 'Secular One', sans-serif;
                    }



                }


                .boton {
                    grid-area: boton;
                    justify-self: end;
                    margin-right: 20px;
                    height: 30px;
                    width: 30px;
                    cursor: pointer;

                    img {
                        height: 100%;
                        width: 100%;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }

                &:hover {
                    box-shadow: 0 0 5px rgba(176, 71, 233, 0.622);
                }

            }
        }

        footer {
            height: 20vh;
            background: rgb(255, 255, 255);
            background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.144) 50%);
            display: flex;
            justify-content: center;
            align-items: center;

            .nombre {
                grid-area: nombre;
                font-size: 25px;
                font-family: 'Secular One', sans-serif;
                text-shadow: 0 0 3px rgba(0, 0, 0, 0.671);

                &:hover {
                    color: #fff757;
                    text-shadow: 0 0 5px rgba(249, 94, 190, 0.998);
                    transform: scale(1.03);
                    transition: 0.1s;
                }
            }

            .coder {
                grid-area: colores;
                font-size: 20px;
                margin-left: 5px;
                margin-bottom: 3px;
                font-family: 'Didact Gothic', sans-serif;
                border-bottom: 1px solid black;
            }


        }
    }

    //Estilos de las alertas
    @import "partials/alerts";
}

//Estilos media querie 768px
@import "partials/querie768px";