* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    height: 100vh;

    header {
        position: sticky;
        top: 0;
        z-index: 1;
        margin-top: 15px;
        nav {
            background-color: rgb(238, 238, 238);
            display: grid;
            grid-template-columns: 7fr 0.5fr;
            grid-template-areas: "logo carrito";
            

            div {
                grid-area: logo;
                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #27211D;
                    font-size: 30px;
                    font-weight: 100;
                    font-family: 'Lobster', cursive;
                    text-shadow: 1px 2px rgba(128, 128, 128, 0.567);

                    img {
                        height: 100px;
                        width: 100px;

                    }

                    h1 {
                        padding-bottom: 15px;
                    }
                }
            }
            .carrito {
                    grid-area: carrito;
                    height: 80px;
                    width: 80px;
                    background-image: url("../img/carrito.png");
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    p{
                        //font-family: Arial, Helvetica, sans-serif;
                        font-family: 'Secular One', sans-serif;
                        padding-left: 8px;
                        font-size: 17px;
                        font-weight: 300;
                        text-shadow: 1px 1px rgba(160, 159, 159, 0.697);
                        
                    }
            }
        }
    }

    section{
        background-color: black;
        height: 5vh;
        margin-bottom: 15px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            color: white;
            text-align: center;
            font-family: 'Didact Gothic', sans-serif;
        }
    }

    main{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .producto{
            width: 300px;
            margin: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.231);
            .foto-zapatilla{
                height: 300px;
                width: 300px;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .info-zapatilla{
                
                height: auto;
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-areas: "nombre precio"
                                     "colores precio";
                align-items: center;
                .nombre{
                    grid-area: nombre;
                    margin: 5px;
                    font-family: 'Secular One', sans-serif;
                }
                .color{
                    grid-area: colores;
                    margin-left: 5px;
                    margin-bottom: 5px;
                    font-family: 'Didact Gothic', sans-serif;
                }
                .precio{
                    grid-area: precio;
                    text-align: center;
                    font-family: 'Secular One', sans-serif;
                }
            }

            .boton-carrito{
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Didact Gothic', sans-serif;
                font-weight: 600;
                cursor: pointer;
                img{
                    height: 20px;
                    width: 20px;
                    margin-right: 5px;
                }

                &:hover{
                    //background-color: #EEEEEE;
                    background-color: #fbed6c;
                }
            }
            &:hover{
                transform: scale(1.05);
                transition: 0.3s;
            }
        }
    }
}